:root{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex; 
    top: 0 !important;
}

.container{
    margin: 2.5%;
    border: black solid 3px;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.header{
    display: flex;
}

.header h1{
    color: white;
    padding: 15px;
}

.body{
    flex: 1;
    color: white;
    background-color: white;
    overflow-y: auto;
}

.post{
    display: flex;
    float: left;
    align-items: center;
    max-height: 500px;
    min-width: 60%;
    max-width: 95%;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profilePicture{
   float: left;
   height: 50px;
   width: 50px;
   font-size: large;
   justify-content: center;
   border-radius: 100%;
}

.userName{
    height: 3px;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 15px;
    color: gray;
    font-size: small;
}

.message{
    display: flex;
    align-items: center;
    word-break: break-all;
    min-height: 30px;
    min-width: 70%;
    max-width: 100%;
    margin-left: 10px;
    padding: 4px;
    background-color: lightblue;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.footer{
    display: flex;
    height: 45px;
}

.footer input{
    flex: 1;    
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
    background-color: gainsboro;
    font-family: 'Poppins', sans-serif;
}

.footer p{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    max-width: 100px;
    padding-left: 2%;
    padding-right: 2%;
}

.footer button{
    max-width: 75px;
    width: 10%;
    height: 100%;
    font-size: 20px; 
    border: none;
    outline: none;
    cursor: pointer;
}

.footer #sendButton{
    background-color: dodgerblue;
    color: white;
}

.footer #sendButton:hover{
    background-color: rgb(50, 50, 218);
    transition: 0.2s ease;
}

.footer #settingsButton{
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
}

.footer #settingsButton:hover{
    background-color: rgb(50, 50, 218);
    transition: 0.2s ease;
}

.settings{
    border-top: black solid 3px;
}

.settings .category{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    max-width: 500px;
}

.settings div p{
    margin-right: 2%;
    width: auto;
}

.settings #usernameInput{
    border: transparent;
    border-radius: 10px;
    background-color: white;
    padding: 0 1%;
    font-family: "Poppins", sans-serif;
}

.settings #pfpSection{
    align-items: center;
}

.settings #pfpInputLabel{
    font-size: 26px;
    cursor: pointer;
}

.settings #pfpPreview{
    height: 40px;
    width: 40px;
    margin-right: 2%;
    border: black solid;
    border-radius: 100%;
}

.settings #pfpInput{
    display: none;
}

.settings #translate{
    font-family: "Poppins", sans-serif;
}

.settings #translate select{
    border: transparent;
    border-radius: 10px;
    padding: 1% 1%;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.skiptranslate iframe{
    display: none;
}